*{
    box-sizing: border-box;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    transition: all .1s;
    scrollbar-width: none;
}
:root{
    --primary: #526988;
    --dark: #222831;
    --white: #EEEEEE;
    --body: #31363F;
    --a: #76ABAE
}
body{
    padding: 0;
    margin: 0;
    text-align: center;
    height: 100%;

    background-color: var(--body);
    color: var(--white);
}
.Light{
    --primary: #9CAFAA;
    --dark: #D6DAC8;
    --white: #222831;
    --body: #9CAFAA;
    --a: #222831;
    & input:hover{
        background-color: #9CAFAA;
    }
    & option{
        background-color: var(--body);
        color: var(--a);
    }
}
.Dark{
    --primary: #526988;
    --dark: #222831;
    --white: #EEEEEE;
    --body: #31363F;
    --a: #76ABAE
    & input:hover{
        background-color: #9CAFAA;
    }
}
.logo{
    max-width: 80px;
    margin: auto;
}
.time_and_logo{
    margin: auto;
    display: flex;
    flex-flow: column;
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}
main{
    overflow: scroll;
    height: 100%;
}
h1, h3{
    font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.card .a{
    color: var(--a);
    width: 100%;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: end;
}
.card a{
    color: var(--a);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    overflow: hidden;
    transition: all .1s !important;

    font-family: "Orbitron", sans-serif;
}
.card a:hover{
    background-color: var(--a);
    color: var(--darck);
}
.card a svg{
    width: 20px;
    height: 20px;
    transition: all .1s !important;
}
main, .container, .lock{
    height: 100%;
    overflow: scroll;
}
.lock{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    position: relative;
}

input, button{
    display: block;
    margin: 10px auto;
    border-radius: 7px;
    font-size: 18px;
    padding: 6px 8px;
    border: 1px solid gray;
    outline: none;
}
input{
    background-color: var(--body);
    color: var(--a);
}
input:focus{
    background-color: var(--a);
    color: var(--white);
    &::placeholder{
        color: var(--white);
    }
}
.inputError{
    color: red;
}

button{
    background-color: var(--primary);
    color: var(--white);
    font-weight: bold;
    border: none;
    overflow: hidden;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    margin-top: 40px;
}

.btn_loading{
    background-color: var(--dark);
    border: 1px solid  var(--primary);
}
.card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: var(--dark);
    border-radius: 1rem;
    width:90%;
    margin: 14px auto;
    padding: 20px;
    max-width: 400px;
    max-height: max-content;
    min-height: max-content;
    /* overflow: scroll; */
    display: block;
}
.uprateCard{
    border: 3px solid var(--primary);
    position: fixed;

    z-index: 1;
    top: 50%;
    bottom: 50%;
    transform: translateX(50%);
    RIGHT: 50%;
    padding: 0;
    display: none;
    overflow: hidden;
}
.uprateCard nav{
    background-color: var(--primary);
    padding: 7px;
}
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');

.uprateCard .details{
    padding: 20px;
    text-align: left;
    font-family: "M PLUS 1 Code", monospace;
    line-height: 30px;
    letter-spacing: .1px;
    color: #5f85b6;
}
.details button{
    margin-top: 40px;
}
.form{
    display: none;
}

button img{
    max-width: 30px;
}

button .doneGif{
    max-width: 70%;
}

button svg{
    color: red;
}



/* lock sec */

.lock-card{
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: 50%;
    transform: translateX(50%);
    right: 50%;
    

}





header{
    background-color: var(--primary);
    height: 70px;
    overflow: hidden;
}
header .container{
    display: flex;
    align-items: center;
    padding: 8px;
}
span.menu_btn svg{
    height: 40px;
    width: 40px;
}

/* main .container{
    padding-top: 80px;
} */



.side_menu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70%;
    background-color: var(--dark);
    border: 2px solid var(--dark);
    z-index: 3;
    /* display: none; */
}

.close_nav svg{
    height: 40px;
    width: 40px;
}

.side_menu nav{
    background-color: var(--body);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 69px;
}
nav h3{
    padding: 0;
    margin: 0;
}


.nav_card span{
    display: flex;
    align-items: center;
    justify-content: start;
    select{
        background-color: transparent;
        color: var(--a);
        border: 2px solid;
        padding: 10px;
        border-radius: .3rem;
        font-weight: 800;
        width: 100%;

        
    }
    
}

option{
    background-color: var(--body);
    color: var(--a);
    
    border: 1px solid var(--a);
    padding: 5px;
    margin: 0;
    outline: none;
    font-weight: 700;
    border-radius: .3rem;
    overflow: hidden;
}

.nav_card input{
    margin: 0;
}


.cmd{
    background-color: black;
    margin: 10px auto;
}
.cmd nav h4{
    margin: 0;
    padding: 0;
}
.cmd nav{
    background-color: var(--dark);
    padding: 6px;
}
.cmd .text{
    padding: 10px;
    text-align: start;
    
}
.cmd .cmdText{
    display: flex;
    flex-flow: column;
    gap: 4px;
}
.cmd p{
    display: inline;
    margin-bottom: 8px;
}
